
body {
  background-color: #222222;
  height: 100vh;
}

#root {
  font-family: Consolas, monospace;
  /* background: #ecf4f3; */
  height: 100%;
  padding-top: 0.5em;
}

#info {
  text-align: center;
  background: #222222;
  color: #ecf4f3;
  width: 20em;
  padding: 0.3em;
  border-radius: 6px;
  border: 1px solid #ecf4f3;
  font-size: 0.9em;
  margin: 0 auto;  
  display: block;
}

#btn-wrapper {
  display: flex;
  justify-content: center;
  width: 20em;
  margin: 0 auto;
  margin-top: 0.5em;
}

button {
  font-family: Consolas, monospace;
  font-weight: 200;
  margin-right: 0.5em;
  color: #ecf4f3;
  background: #222222;
  border: 1px solid #ecf4f3;
  border-radius: 2em;
  padding: 2% 5%;
}

p#msg {
  height: 1.1em;
  font-size: 1.1em;
  margin-top: 0.5em;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1px;
}

.card {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: relative;
}

#game-grid {
  border: 1px solid #ecf4f3;
  border-radius: 0.2em;
  padding: 10px;
  margin: 2em auto;
  width: 75vh;
  height: 75vh;
  background-color: #222222;
  margin-top: 0.5em;
}

#game-grid.empty .card .front {
  background-color: #222222;
}

#game-grid.active .card .front {
  background: #ecf4f3;
}



.front {
  width: 16vh;
  height: 16vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);

}
.cards36 .front, .cards36 i {
  width: 10vh;
  height: 10vh;
}

.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  top: 16px;
  left: 0px;
  color: #ecf4f3;
  font-size: x-large;
  border: 1px solid #ecf4f3;
}
i {
  margin: 0 auto;
  height: 16vh;
  width: 16vh;
  text-align: center;
}



.flipIt {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
    transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

}

#game-grid.active .success .front{
  background: #888888;
}


.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
  line-height: 5;
}


.cards36 .fa, .cards36 .fa-brands, .cards36 .fa-classic, .cards36 .fa-regular,
.cards36 .fa-sharp, .cards36 .fa-solid, .cards36 .fab, .cards36 .far, .cards36 .fas {
  line-height: 3;
}